---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p>I do not have any publications yet, but I am actively seeking research opportunities and collaborations. I am highly motivated to contribute to meaningful projects in my fields of interest.</p>

<h2>Research Interests</h2>
<ul>
  <li>Natural Language Processing (NLP)</li>
  <li>Multimodal Artificial Intelligence</li>
  <li>Large Language Models (LLMs)</li>
  <li>Machine Learning & Deep Learning</li>
  <li>Representation Learning</li>
  <li>Vision-Language Models</li>
</ul>

<!-- <hr>

{% for post in site.publications reversed %}
  {% include archive-single.html %}
{% endfor %} -->




